.logo-caption { /* Clase para el texto debajo del logo */
    font-size: 32px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
    text-align: center; /* Centrado */
}

/* Estilos para la barra lateral */
#MainMenu {
    width: 350px; /* Ancho inicial de la barra lateral */
    transition: width 0.3s ease; /* Transición suave para el cambio de tamaño */
  }
  
  /* Botón para ocultar/mostrar el panel superior */
  #MainMenu .sidebar-collapse-button {
    /* Estiliza el botón como prefieras */
    padding: 10px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
  }
  
  /* Estado oculto del panel superior */
  #MainMenu .sidebar-content {
    overflow: hidden; /* Oculta el contenido desbordado */
    height: 0; /* Colapsa la altura */
  }
  
  /* Estado visible del panel superior (por defecto) */
  #MainMenu.sidebar-expanded .sidebar-content {
    height: auto; /* Permite que el contenido ocupe su altura natural */
  }

  /* Ocultar el panel de navegación lateral */
[data-testid="stSidebarNavItems"] {
    display: none !important; /* ¡Importante para asegurar que se aplique! */
}
